.App {
  text-align: center;
}

.App-logo {
  height: 20vh;
  user-select: none;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  color: white;
  font-size: calc(10px + 2vmin);
  background: rgba(0, 150, 0, 0.4) 50%;
}

.App-sleeve {
  position: relative;
  /* padding-inline: 10vw; */
  /* padding makes background not work, margin makes cursor offset shitty */
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-inline: 10vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Fractal-container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 75vh;
}

.Fractal-canvas-main {
  width: 100%;
  height: 100%;
  filter: blur(0.5px);
}

.Fractal-caption-main {
  position: absolute;
  bottom: 0px;
  display: flex;
  color: #aaaaaa;
  font-weight: 600;
  font-size: 1.5vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.479);
}

.Fractal-container-background {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.Fractal-canvas-background {
  width: 100%;
  height: 100%;
  filter: blur(12px);
}

.backdrop {
  background-color: black;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  height: 75vh;
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
  background-color: #000000b0;
}

.BlogPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 100%;
  overflow-x: clip;
  overflow-y: auto;
  font-weight: 200;
  font-size: 3vmin;
  text-align: left;
  padding-inline: 5vw;
  scrollbar-width: none;
}

.BlogPage::-webkit-scrollbar {
  /* display: none; */
  width: 0.5rem;
  /* border-radius: 1vw; */
  background-color: rgba(255, 255, 255, 0.075);
}

.BlogPage::-webkit-scrollbar-thumb {
  background-color: rgba(0, 170, 0, 0.616);
  /* border-radius: 1vw; */
  border: 3px;
}

hr {
  width: 100%;
}

pre {
  padding: 1rem;
  background-color: #353535b0;
}

.headerBar-list {
  display: flex;
  justify-content: space-evenly;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.24);
}

div[class^='headerBar-button'] {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12vw;
  height: 3vh;
  padding: 1vh;
  font-weight: 200;
  font-size: 2vw;
  background-color: rgb(18, 146, 18);
  transition: 0.3s;
  user-select: none;
}

div[class^='headerBar-button']:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.HoverMenu {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.623);
}

div[class^='headerBar-button-hoverMenu'] {
  margin-top: 0.5vh;
}

.headerBar-container {
  position: relative;
}
