.App {
  text-align: center;
}

.App-logo {
  height: 20vh;
  pointer-events: none;
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(25, 145, 25);
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-sleeve {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-inline: 10vw;
  z-index: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerBar-list {
  background-color: rgb(36, 109, 36);
  height: 5vh;
  display: flex;
  justify-content: space-around;
  /* padding-inline: 15vw; */
}

.headerBar-button {
  display: flex;
  padding: 1vh;
  margin-inline: 1vw;
  width: 15vw;
  height: 3vh;
  font-size: 3vmin;
  font-weight: 200;
  background-color: green;
  align-items: center;
  justify-content: space-around;
  user-select: none;
}

.headerBar-button:hover {
  background-color: rgb(1, 170, 1);
  cursor: pointer;
}

.Fractal-canvas-main {
  width: 80vw;
  height: 75vh;
}

.Fractal-canvas-background {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: absolute;
  left: 0px;
  top: 0px;
}
